<template>
  <v-main width=100% class="main">
    <v-container fluid grid-list-xs>
      <v-layout row wrap>
        <v-flex xs12>
          <v-img class="mx-auto" :width="144" src="/logo_white.png" />
        </v-flex>
        <v-flex tag="h2" class="text-center header">«Инсис» приветствует вас!</v-flex>
        <v-flex xs12 mx-auto>
          <Page1 v-if="page == 1" @sendSMS="sendSMS" />
          <Page2 v-if="page == 2" @sendSMS="sendSMS" />
          <Page3 v-if="page == 3"></Page3>
          <errorPage v-if="page == 0"></errorPage>
        </v-flex>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>
  import Page1 from './Page1.vue'
  import Page2 from './Page2.vue'
  import Page3 from './Page3.vue'
  import errorPage from './errorPage.vue'
  import axios from 'axios'
  
  export default {
    name: 'Edo',
    components: {
      Page1,
      Page2,
      Page3,
      errorPage
    },
    data: () => ({
      clientInfo: '',
      services: [],
      devices: [],
      page: null
    }),
    async beforeCreate() {
      let hash = this.$route.query.hash;
      await this.$store.dispatch('setPDF', {hash});
      await this.$store.dispatch('getInfo', {hash});
      let error = await this.$store.getters.getError;
      if (error != null) {
        this.page = 0;
      } else {
        let client =  await this.$store.getters.getClient;
        this.page = await this.$store.getters.getPage;
        this.clientInfo = client;
      }
    },
    methods: {
      async sendSMS() {
        this.page = await this.$store.getters.getPage;
      }
    },
    computed: {
    }
  }
</script>
<style>
  .main {
    background-color: #3086be;
  }
  .main div.container {
    padding-top: 40px;
    width: 1000px;
  }
  .layout {
    display: block !important;
    min-width: 100% !important;
  }
  .header {
    width: 100%;
    color: white;
  }
  .position {
  position: relative;
}
.v-application .error--text {
    color: red !important;
    caret-color:  red !important;
}
.v-text-field__details, .v-messages {
  min-height: 0px !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 50px;
}
.v-input--selection-controls__input input[role=checkbox], .v-input--selection-controls__input input[role=radio], .v-input--selection-controls__input input[role=switch] {
  opacity: 1 !important;
}
</style>