<template>
  <v-main>
    <div class="errors">
      <v-flex class="text-center header" pt-15 tag="h2">
        {{error}}
        <v-btn @click="open = !open" icon v-if="tooltip != ''">
          <v-icon color="white lighten-1">
            error_outline
          </v-icon>
        </v-btn>
      </v-flex>
      <v-flex v-if="open == true" class="text-center header">
        {{ tooltip }}
      </v-flex>
    </div>
  </v-main>
</template>

<script>
  import axios from 'axios'
  
  export default {
    name: 'errorPage',
    data: () => ({
      error: '',
      open: false,
      tooltip: ''
    }),
    async beforeCreate() {
      let error = await this.$store.getters.getError;
      this.error = error.MESSAGE;
      this.tooltip = error.TOOLTIP;
    },
    methods: {
      
    },
    computed: {
    
    }
  }
</script>
<style>
  .errors {
    position: relative;
  }
</style>