<template>
  <v-layout>
      <div>
        <v-flex class="text-center header" xs12 lg12 pt-8>
          СМС отправеленно на +7{{phone}} 
          <v-btn @click="editPhone()" icon>
            <v-icon color="white lighten-1" >
              create
            </v-icon>
          </v-btn>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5 v-if="open">
          <input type="text" v-mask="'+7 (###) ### ## ##'" v-model="new_phone" class="form-control" placeholder="Телефон">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5>
          <input type="text" v-mask="'####'" v-model="sms_key" class="form-control" placeholder="код из СМС">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg12 pt-8>
          <v-divider></v-divider>
        </v-flex>
        <v-flex class="mx-auto text-center" xs12 lg8 pt-4>
          <v-row pt-0>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-btn
                class="py-2 px-15"
                x-large
                large
                dark
                color="primary"
                :disabled="isDisabled1"
                @click="sendSms()"
              > 
                <span v-if="currentTime != 0">
                  Отправить смс {{currentTime}}
                </span>
                <span v-if="currentTime == 0">
                  Отправить смс 
                </span>
              </v-btn>
            </v-col>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-btn
                class="py-2 px-15"
                x-large
                large
                dark
                color="#19bb9a"
                :disabled="isDisabled"
                @click="confirmation()"
              >Продолжить</v-btn>
            </v-col>
          </v-row>
        </v-flex>
      </div>
  </v-layout>
</template>

<script>
  import axios from 'axios'
  
  export default {
    name: 'Page2',
    data: () => ({
      open: false,
      sms_key: null,
      phone: null,
      new_phone: null,
      dataClient: {},
      currentTime: 30,
      timer: null,
    }),
    async beforeCreate() {
      this.dataClient = await this.$store.getters.getData;
      let phone = `${this.dataClient.phone}`
      this.phone = parseInt(phone.substr(1))
    },
    mounted() {
      this.startTimer()
    },
    destroyed() {
      this.stopTimer()
    },
    methods: {
      startTimer() {
        this.timer = setInterval(() => {
          if (this.currentTime !=0) { 
            this.currentTime--
          }
        }, 1000)
      },
      stopTimer() {
        clearTimeout(this.timer)
      },
      async sendSms () {
        this.currentTime = 30;
        let sendForm = await axios.post(process.env.VUE_APP_SRVBACKEND + 'send_sms/?hash='+this.$route.query.hash, {new_phone: this.new_phone});
      },
      editPhone() {
        this.open = !this.open
        this.new_phone = this.phone;
        this.currentTime = 0
      },
      async confirmation() {
        let res = await axios.post(process.env.VUE_APP_SRVBACKEND + 'confirmation?hash='+this.$route.query.hash, {sms_key: this.sms_key});
        if(!res.data.error) {
          await this.$store.dispatch('setPage', {page: 3});
          this.$emit('sendSMS', {sendSMS: true});
        }else {
          this.$root.$emit("alert", {
            text: res.data.error,
            type: "error"
          });
        }
      }
    },
    computed: {
      isDisabled: function(){
       if(this.sms_key && this.sms_key.length == 4) {
          return false;
        } else {
          return true;
        }
      },
      isDisabled1: function(){
        if(this.currentTime == 0) {
          return false;
        } else {
          return true;
        }
      }
    }
  }
</script>
<style>  
</style>