<template>
    <v-layout>
      <div>
        <v-flex class="text-center header" shrink>
          Проверьте, пожалуйста, ваши контактные данные которые указаны ниже. Мы гарантируем
          безопасность и сохранение персональной информации.
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5>
          <v-alert type="warning" v-if="warnings.length != 0">
            {{ warnings[0].text }}
          </v-alert>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5>
          <input type="text" v-model="lastname" class="form-control" placeholder="Фамилия"  v-if="t_kl == true">
          <input type="text" v-model="lastname" class="form-control" placeholder="Наименование организации"  v-if="t_kl == false">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4 v-if="t_kl == true">
          <input type="text" v-model="firstname" class="form-control" placeholder="Имя">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4 v-if="t_kl == true">
          <input type="text" v-model="middlename" class="form-control" placeholder="Отчество">
        </v-flex>
         <v-flex class="mx-auto" xs12 lg8 pt-4 v-if="t_kl == false">
          <input type="text" v-model="inn" class="form-control" placeholder="ИНН">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4>
          <input type="text" v-model="phone" class="form-control" v-mask="'+7 (###) ### ## ##'" placeholder="Телефон">
          <h6 style="padding-left: 10px;" class="header">* На этот телефонный номер вам придёт код подтверждения</h6>
        </v-flex>
          <v-flex class="mx-auto" xs12 lg8>
          <input type="text" v-model="email" class="form-control" placeholder="Email">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4 v-if="t_kl == true">
          <v-select
            v-model="doc"
            label="Документ"
            :items="items"
            solo
            flat
            item-text="name"
            item-value="id"
            v-on:change="changeDoc"
          ></v-select>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 v-if="t_kl == true">
          <v-row  pt-0>
            <v-col cols="4">
              <input type="text" v-model="serial" v-mask="maskSerial" class="form-control" placeholder="Серия">
            </v-col>
            <v-col cols="4">
              <input type="text" v-model="number" v-mask="maskNumber" class="form-control" placeholder="Номер">
            </v-col>
            <v-col cols="4">
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                top
              >
                <template v-slot:activator="{ on }">
                  <input type="text" @blur="date = parseDate(dateFormatted)" v-on="on" v-model="dateFormatted" class="form-control" placeholder="Дата выдачи" v-mask="'##.##.####'" maxlength="10">
                </template>
                <v-date-picker v-model="date" no-title @input="menu = false" type="date" locale="ru-ru"></v-date-picker>
              </v-menu>                  
            </v-col>
          </v-row>
        </v-flex>
        <v-flex class="mx-auto position" xs12 lg8 pt-4 v-if="t_kl == true">
          <v-tooltip v-model="show" top>
            <template v-slot:activator="{ on }">
              <input type="text" v-model="issued" v-on="on" @click="show = !show" class="form-control" v-on:keyup="changeIssued" placeholder="Кем выдан">
            </template>
          <span>Для поиска укажите код подразделения</span></v-tooltip>
          <v-list dense v-if="issued_items.length != 0">
            <v-list-item-group
              v-model="selectedItem"
              color="primary"
            >
              <v-list-item
                v-for="(item, i) in issued_items"
                :key="i"
              >
                <v-list-item-content>
                  <v-list-item-title @click="selection(i)" v-text="item.value"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5 v-if="t_kl == false">
          <v-tooltip v-model="showAddr" top>
            <template v-slot:activator="{ on }">
              <input type="text" v-model="address_ur" v-on="on" @click="showAddr = !showAddr" class="form-control" v-on:keyup="findAddress" placeholder="Адрес местонахождения">
            </template>
          <span>Начните вводить адрес</span></v-tooltip>
          <v-list dense v-if="address_items.length != 0">
            <v-list-item-group
              v-model="selectedItemAddr"
              color="primary"
            >
              <v-list-item
                v-for="(item, i) in address_items"
                :key="i"
              >
                <v-list-item-content>
                  <v-list-item-title @click="selectionAddr(i)" v-text="item.value"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 v-if="t_kl == true">
            <v-checkbox
            v-model="address"
            label="Адрес регистрации совпадает с адресом подключения"
            color="success"
            dark
          ></v-checkbox>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-5 v-if="!address">
          <input type="text" v-model="registration" class="form-control" placeholder="Адрес регистрации">
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8>
          <h6 style="padding-left: 10px;" class="header">Тарифы:</h6>
          <v-data-table
            :headers="headers"
            :items="desserts"
            hide-default-header
            hide-default-footer  
            class="elevation-1"
          ></v-data-table>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4 v-if="devices.length != 0">
          <h6 style="padding-left: 10px;" class="header">Оборудование:</h6>
          <v-data-table
            :headers="headersDev"
            :items="devices"
            hide-default-footer
            class="elevation-1"
          ></v-data-table>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg12 pt-8>
          <v-divider></v-divider>
        </v-flex>
        <v-flex class="mx-auto" xs12 lg8 pt-4>
          <v-checkbox
            v-model="personal"
            label="Я согласен на обработку персональных данных в соответствии с Законодательством РФ."
            color="success"
            dark
          ></v-checkbox>
          <v-checkbox
            v-model="oferta"
            label="Я принимаю договор оферты"
            color="success"
            dark
          ></v-checkbox>
          <v-checkbox
            v-model="technician"
            label="Я подтверждаю, что не имею претензий к качеству работы технического специалиста."
            color="success"
            dark
          ></v-checkbox>
          <v-checkbox
            v-model="mailing"
            label="Я согласен получать рекламно-информационную рассылку."
            color="success"
            dark
          ></v-checkbox>
          <v-checkbox v-if="t_kl == false"
            v-model="commitments"
            label="Я принимаю обязательство ежеквартально предоставлять список пользователей, использующих пользовательское оборудование"
            color="success"
            dark
          ></v-checkbox>
          <v-checkbox v-if="devices.length != 0"
            v-model="equipment"
            label="Я подтверждаю, что мной получено оборудование."
            color="success"
            dark
          ></v-checkbox>
        </v-flex>
        <v-flex class="mx-auto text-center" xs12 lg8 pt-4>
          <v-row pt-0>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-dialog
                v-model="dialog"
                width="800"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="py-2 px-15"
                    x-large
                    large
                    dark
                    color="primary"
                    v-bind="attrs"
                    v-on="on"
                    @click="loadAllPage()"
                  >
                    Оферта
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title class="headline grey lighten-2">
                    Образец
                  </v-card-title>
                  
                  <v-card-text v-if="pdf_url != undefined">
                    <pdf
                      v-for="i in numPages"
                      :key="i"
                      :src="pdf_url"
                      :page="i"
                      style="height: 100%; margin-top: 5px; border: 1px solid black"
                    ></pdf>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="dialog = false"
                    >
                      Принять
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-btn
                class="py-2 px-15"
                x-large
                large
                dark
                color="#19bb9a"
                :disabled="isDisabled"
                @click="setFormEdo()"
              >Продолжить</v-btn>
            </v-col>
          </v-row>
        </v-flex>
      </div>
    </v-layout>
</template>

<script>
  import axios from 'axios'
  import pdf from 'vue-pdf'
  
  export default {
    name: 'Page1',
    components: {
      pdf
    },
    data: () => ({
      dialog: false,
      show: false,
      showAddr: false,
      errors: [],
      warnings: [],
      valid: false,
      address: true,
      personal: true,
      oferta: true,
      technician: true,
      pdf_url: undefined,
      numPages: undefined,
      currentPage: 0,
      pageCount: 0,
      mailing: true,
      equipment: true,
      maskSerial: '####',
      maskNumber: '######',
      t_kl: true,
      title_lastname: '',
      headers: [
        {text: 'Услуга', value: 'name'},
        {text: 'Тариф', value: 'tarif_name'}
      ],
      desserts: [],
      devices: [],
      firstname: '',
      dateFormatted: '',
      lastname: '',
      middlename: '',
      registration: '',
      inn: '',
      address_ur: '',
      selectedItemAddr: '',
      address_items: '',
      commitments: true,
      phone: '',
      doc: '',
      menu: '',
      dateFormatted: null,
      date: '',
      serial: '',
      number: '',
      issued: '',
      issued_items: '',
      selectedItem: '',
      email: '',
      date: '',
      form: '',
      items: [
        {id: 1, name: 'Паспорт'},
        {id: 2, name: 'Вид на жительство'},
        {id: 3, name: 'Не резидент РФ'}
      ],
      nameRules: [
        v => !!v || 'Обязательно для заполнения',
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    }),
    props: ['page'],
    async beforeCreate() {
      let getPdf = await pdf.createLoadingTask(this.$store.getters.getPdf);
      let clientInfo = await this.$store.getters.getClient;
      console.log(clientInfo);
      let services = await this.$store.getters.getService;
      let devices = await this.$store.getters.getDevices;
      let warnings = [];
      services.forEach( await function(item) {
        if(item.service_id == 19 && devices.length == 0) {
          warnings.push({text: "В акте должно быть добавленно ободорудование для услуги ТВ"});
        }
      });
      this.pdf_url = getPdf;
      this.inn = clientInfo.inn;
      this.address_ur = clientInfo.ua;
      this.warnings = warnings;
      this.t_kl = clientInfo.t_kl;
      this.lastname = clientInfo.lastname;
      this.firstname = clientInfo.firstname;
      this.middlename = clientInfo.middlename;
      this.phone = clientInfo.phone.length == 11 ? clientInfo.phone.substring(1) : clientInfo.phone;
      this.email = clientInfo.email;
      this.desserts = services;
      this.devices = devices;
    },
    watch: {
      date(val) {
        this.dateFormatted = this.formatDate(this.date)
      }
    },
    methods: {
      loadAllPage () {
        this.pdf_url.promise.then(pdf => {
          this.numPages = pdf.numPages;
        });
      },
      changeDoc () {
        switch(this.doc) {
          case 1:
            this.maskSerial = '####';
            this.maskNumber = '######';
          break;
          case 2:
            this.maskSerial = '##';
            this.maskNumber = '#######';
          break;
          case 3:
            this.maskSerial = 'NNNNNN';
            this.maskNumber = 'NNNNNNNNNN';
          break;
          default:
            this.maskSerial = '####';
            this.maskNumber = '######';
          break;
        }
      },
      async changeIssued () {
        if (this.doc == 1) {
          let issued = await axios.get(process.env.VUE_APP_SRVBACKEND + 'check/?hash='+this.$route.query.hash+'&issued='+this.issued);
          this.issued_items = issued.data.edo.suggestions;
        }
      },
      async findAddress () {
        // if (this.t_kl == false) {
        //   let issued = await axios.get(process.env.VUE_APP_SRVBACKEND + 'findAddress/?hash='+this.$route.query.hash+'&='+this.address_ur);
        //   this.issued_items = issued.data.edo.suggestions;
        // }
      },
      async selection (item) {
        this.issued = this.issued_items[item].value;
        this.issued_items = [];
      },
      async selectionAddr (item) {
        this.address_ur = this.address_items[item].value;
        this.address_items = [];
      },
      formatDate (date) {
        if (!date) return null
        let prefix = '.';
        if (date.search("-") != -1) {
          console.log(date.search("-"));
          prefix = '-';
        }
        const [year, month, day] = date.split(prefix)
        return `${day}.${month}.${year}`
      },
      parseDate (date) {
        if (!date) return null
        let prefix = '.';
        if (date.search("-") != -1) {
          console.log(date.search("-"));
          prefix = '-';
        }
        const [year, month, day] = date.split(prefix)
        return `${day}.${month}.${year}`
      },
      async setFormEdo () {
        let params = {
          docs: this.doc,
          firstname: this.firstname,
          lastname: this.lastname,
          middlename: this.middlename,
          date: this.dateFormatted,
          phone: this.phone,
          email: this.email,
          serial: this.serial,
          number: this.number,
          issued: this.issued,
          address: this.address,
          personal: this.personal,
          oferta: this.oferta,
          technician: this.technician,
          mailing: this.mailing,
          equipment: this.equipment,
          registration: this.registration,
          services: [],
          inn: this.inn,
          address_ur: this.address_ur,
          commitments: this.commitments,

        }
        await this.desserts.forEach((service) => {
          params.services.push({id: service.id, service_id: service.service_id, doc_id: service.doc_id})
        });
        let sendForm = await axios.post(process.env.VUE_APP_SRVBACKEND + 'started/?hash='+this.$route.query.hash, params);
        if(!sendForm.data.error) {
          await this.$store.dispatch('setDATA', sendForm.data.data);
          await this.$store.dispatch('setPage', {page: 2});
          this.$emit('sendSMS', {sendSMS: true});
        } else {
          this.$root.$emit("alert", {
            text: sendForm.data.error,
            type: "error"
          });
        }
      },
    },
    computed: {
      isDisabled: function(){
        let params = true;
        if (this.t_kl == true) {
          params = this.doc ? true : false;
          params = this.firstname ? true : false;
          params = this.dateFormatted ? true : false;
          params = this.middlename ? true : false;
          params = this.phone ? true : false;
          params = this.serial ? true : false;
          params = this.number ? true : false;
          params = this.issued ? true : false;
        } else {
          params = this.doc ? true : false;
          params = this.lastname ? true : false;
          params = this.phone ? true : false;
          params = this.inn ? true : false;
          params = this.address_ur ? true : false;
          params = this.commitments;
        }
        if(
          params &&
          //this.warnings.length == 0 &&
          this.personal && 
          this.oferta && 
          this.technician && 
          this.equipment && 
          this.lastname) {
          return false;
        } else {
          return true;
        }
      },
    },
  }
</script>
<style>
</style>