<template>
  <v-layout>
      <div>
        <v-flex class="text-center header" shrink>
          <b>{{lastname}} {{firstname}} {{middlename}}</b>, вы успешно прошли регистрацию!
        </v-flex>
        <v-flex class="mx-auto" xs12 lg12 pt-8>
          <v-divider></v-divider>
        </v-flex>
        <v-flex class="mx-auto text-center" xs12 lg8 pt-4>
          <v-row pt-0>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-dialog
                v-model="dialog"
                width="800"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="py-2 px-15"
                    x-large
                    large
                    dark
                    color="primary"
                    v-bind="attrs"
                    v-on="on"
                    @click="loadAllPage()"
                  >
                    Оферта
                  </v-btn>
                </template>

                <v-card>
                  <v-card-title class="headline grey lighten-2">
                    Договор оферты
                  </v-card-title>
                  
                  <v-card-text v-if="pdf_url != undefined">
                    <pdf
                      v-for="i in numPages"
                      :key="i"
                      :src="pdf_url"
                      :page="i"
                      style="height: 100%; margin-top: 5px; border: 1px solid black"
                    ></pdf>
                  </v-card-text>

                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      text
                      @click="dialog = false"
                    >
                      Принять
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col class="mx-auto text-center" xs12 lg6>
              <v-btn
                class="py-2 px-15"
                x-large
                large
                dark
                color="#19bb9a"
                @click="redirectLK()"
              >В личный кабинет</v-btn>
            </v-col>
          </v-row>
        </v-flex>
      </div>
  </v-layout>
</template>

<script>
  import axios from 'axios'
  import pdf from 'vue-pdf'
  
  export default {
    name: 'Page3',
    components: {
      pdf
    },
    data: () => ({
      dialog: false,
      pdf_url: undefined,
      numPages: undefined,
      firstname: '',
      lastname: '',
      middlename: '',
    }),
    async beforeCreate() {
      let clientInfo = await this.$store.getters.getClient;
      let getPdf = await pdf.createLoadingTask(this.$store.getters.getPdf);
      this.lastname = clientInfo.lastname;
      this.firstname = clientInfo.firstname;
      this.middlename = clientInfo.middlename;
      this.pdf_url = getPdf;
    },
    methods: {
      loadAllPage () {
        this.pdf_url.promise.then(pdf => {
          this.numPages = pdf.numPages;
        });
      },
      redirectLK () {
        window.location.href = 'https://stat.profintel.ru';
      }
    },
    computed: {
    
    }
  }
</script>
<style>  
</style>