<template>
  <v-app>
    <router-view/>
    <v-snackbar
        v-model="snackbar"
        :right=true
        :top=true
        :vertical=true
        :color="alertType"
        :timeout="4000"
      >
        {{ text }}
      </v-snackbar>
  </v-app>
</template>

<script>
  import axios from 'axios'
  import Edo from './view/Edo.vue'
  export default {
    name: 'App',
    data: () => ({
      snackbar: false,
      text: '',
      alertType: ''
    }),
    beforeCreate() {
    },
    mounted() {
      this.$root.$on('alert', params => {
        this.text = params.text
        this.alertType = params.type
        this.snackbar = true
      });
    },
    components: {
      Edo
    },
  }
</script>

<style>
</style>
